body {
  font-family: verdana;
}

.tag {
  display: inline-block;
  border-radius: 4px;
}
.center {
  margin: auto;
  width: 40%;

  padding: 10px;
}

header {
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-left: auto;
  margin-right: auto;
}
